In [19]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [2]:
data = {
    'Fruit' : ['appel' , 'bana', 'orange'] ,
    'color' : ['red' , 'yellow' ,'orange']}
df = pd.DataFrame(data)

In [3]:
df

    Fruit   color
0   appel     red
1    bana  yellow
2  orange  orange

In [6]:
encoder = OneHotEncoder()
encoder.fit(df[['color']])
encodeData = encoder.transform(df[['color']])

In [10]:
 encode_arr = encodeData.toarray()

In [14]:
encode_df = pd.DataFrame(encode_arr , columns=encoder.categories_[0])

In [15]:
encode_df

   orange  red  yellow
0     0.0  1.0     0.0
1     0.0  0.0     1.0
2     1.0  0.0     0.0

In [17]:
final_encoded_data = pd.concat([df,encode_df],axis=1)
final_encoded_data

    Fruit   color  orange  red  yellow
0   appel     red     0.0  1.0     0.0
1    bana  yellow     0.0  0.0     1.0
2  orange  orange     1.0  0.0     0.0

use Label encode  --->

In [26]:
encoder2 = LabelEncoder()
encoder2.fit(df['color'].values)
encodeData2 = encoder2.transform(df['color'].values)
encodeData2

array([1, 2, 0])

In [29]:
encodeDataframe = pd.DataFrame(encodeData , columns=['type'])

In [30]:
encodeDataframe

   type
0     1
1     2
2     0

In [32]:
result_labeling = pd.concat([df,encodeDataframe] , axis=1 )
result_labeling

    Fruit   color  type
0   appel     red     1
1    bana  yellow     2
2  orange  orange     0

and now we substitute column  :

In [33]:
df['color'] = encodeDataframe 
df

    Fruit  color
0   appel      1
1    bana      2
2  orange      0